@media (max-width: 450px) {
    header {
        height: 200px;
    }
    .wave {
        overflow: hidden;
    }
    .wave svg {
        height: 200px;
    }
    .logo {
        height: 170px;
        width: 170px;
    }
    .location h4 {
        font-size: 30px;
    }
    input {
        padding-left:10px;
    }
    .location_input {
        font-size: 16px;
        width: 200px;
        height: 50px;
    }
    .error {
        font-size: 12px;
    }
    .location_btn {
        height: 50px;
        width: 50px;
        background-size: 30px 30px;
    }
    .weather_view {
        height: 450px;
    }
    .weather_card {
        height: 340px;
        width: 250px;
    }
    .weather_icon {
        margin-top: 10px;
        height: 120px;
        width: 120px;
    }
    .weather_card p {
        font-size: 20px;
    }
    .temp {
        font-size: 32px !important;
    }
    .weather_info {
        margin-top: 5px;
        width: 140px;
        height: 40px;
        font-size: 18px;
        padding-top: 10px;
    }
}

@media (min-width: 450px) and (max-width: 550px) {
    header {
        height: 220px;
    }
    .wave {
        overflow: hidden;
    }
    .wave svg {
        height: 220px;
    }
    .logo {
        height: 180px;
        width: 180px;
    }
    .location h4 {
        font-size: 30px;
    }
    input {
        padding-left:10px;
    }
    .location_input {
        font-size: 16px;
        width: 300px;
        height: 60px;
    }
    .error {
        font-size: 12px;
    }
    .location_btn {
        height: 60px;
        width: 60px;
        background-size: 30px 30px;
    }
    .weather_view {
        height: 500px;
    }
    .weather_card {
        height: 400px;
        width: 320px;
    }
    .weather_icon {
        margin-top: 15px;
        height: 140px;
        width: 140px;
    }
    .weather_card p {
        font-size: 24px;
    }
    .temp {
        font-size: 36px !important;
    }
    .weather_info {
        margin-top: 10px;
        width: 180px;
        height: 40px;
        font-size: 18px;
        padding-top: 10px;
    }
}

@media (min-width: 550px) and (max-width: 850px) {
    header {
        height: 250px;
    }
    .wave {
        overflow: hidden;
    }
    .wave svg {
        height: 250px;
    }
    .logo {
        height: 200px;
        width: 200px;
    }
    .location_input {
        width: 500px;
    }
}

@media (min-width: 850px) and (max-width: 1200px) {
    header {
        height: 300px;
    }
    .wave {
        overflow: hidden;
    }
    .wave svg {
        height: 300px;
    }
}

@media (min-width: 1900px) {
    header {
        height: 500px;
    }
    .logo {
        height: 400px;
        width: 400px;
    }
    .location_input {
        font-size: 52px;
        width: 800px;
        height: 160px;
    }
    .location_btn {
        height: 160px;
        width: 160px;
        background-size: 80px 80px;
    }
    .error {
        font-size: 32px;
    }
    .weather_view {
        height: 1200px;
    }
    .weather_card {
        height: 900px;
        width: 700px;
        border-radius: 40px;
    }
    .weather_icon {
        margin-top: 30px;
        height: 350px;
        width: 350px;
    }
    .weather_card p {
        font-size: 52px;
    }
    .temp {
        font-size: 70px !important;
    }
    .weather_info {
        padding-top: 25px;
        font-size: 32px;
        width: 340px;
        height: 80px;
    }
}